:root {
  --color-background: rgb(250, 244, 240);
  --color-rose: rgb(162, 103, 105);
  --color-sage: rgb(176, 173, 134);
  --color-black: rgb(14, 15, 25);
  --color-green: rgb(41, 77, 74);
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-background);
}

button {
  font-size: 0.9rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

nav {
  color: var(--color-sage);
  width: 100vw;
  height: 4rem;
  background-color: var(--color-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  padding-bottom: 2.5rem;
}

footer {
  color: var(--color-sage);
  width: 100vw;
  height: 4rem;
  position: absolute;
  bottom: 0;
  background-color: var(--color-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: inherit;
}
