.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.main > * {
  padding: 0.5rem;
}

.imgContainer {
  width: 40vw;
  height: 60vh;
  object-fit: contain;
  position: 'relative';
  border-style: dotted;
  border-color: black;
}

.image {
  max-width: 50vw;
  max-height: 60vh;
  object-fit: contain;
  position: 'relative';
  margin: 2rem;
}
